mat-toolbar {
  display: flex;
  place-items: center;
  padding: 0 1em;
  font-size: 20px;

  background: var(--mat-sys-primary);
  --mat-sys-on-surface: var(--mat-sys-on-primary);

  --mdc-icon-button-icon-color: currentColor;

  .title {
    flex: 1;

    display: flex;
    place-items: center;
    gap: .5rem;
  }

  button[mat-dialog-close] {
    margin-left: auto;
  }
}
