<mat-toolbar *ngIf="draggable" mat-dialog-title cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane" class="draggable">
  <ng-container *ngTemplateOutlet="content" />
</mat-toolbar>

<mat-toolbar *ngIf="!draggable">
  <ng-container *ngTemplateOutlet="content" />
</mat-toolbar>

<ng-template #content>
  <h2 class="title">
    <app-icon *ngIf="icon" [icon]="icon" /> {{ title }}
  </h2>

  <!-- Allow to put additional stuff after title -->
  <ng-content />

  <button *ngIf="!noClose" mat-icon-button mat-dialog-close tabindex="-1">
    <app-icon icon="close" />
  </button>
</ng-template>
