:host {
  .page-content {
    padding: 0 2%;
    max-width: min(100%, 1200px);
    margin: auto;
  }

  .discours {
    max-width: 1280px;
    margin: auto;
    text-align: justify;

    p {
      margin: 1.5rem .5rem;
    }
  }
}
