<app-hero-banner imageLink="/"/>

<div class="blocks">

  <app-prez-block blockTitle="C'est quoi cette fontaine ? 🤔">
    Il y a évidemment plusieurs raisons derrière le choix de cette illustration, dont voici une liste non exhaustive :

    <ul>
      <li>
        <span class="label">Place publique :</span> En pensant à une place publique, un lieu qui peut <b>rassembler</b>,
        l'image de la fontaine est venue rapidement. De plus, sa forme ronde évoque l'égalité et permet à chacun,
        comme dans la légende du Roi Arthur, d'être placé à la même distance du centre, réduisant ainsi les oppositions
        et favorisant la justice.
      </li>

      <li>
        <span class="label">L'Histoire :</span> Le côté historique souvent associé à ces monuments, qui permet de nous
        rappeler que notre époque n'est que la suite de nombreuses autres, et que nous devrions garder du respect pour
        ces temps passés, et ces ancêtres, en la mémoire desquels nous devrions continuer de guider le monde de la
        meilleure manière, vers la <b>justice et la paix</b>. Si nous pensions plus souvent à eux, à l'Histoire
        (sincèrement, pas juste comme un slogan) peut être que nous agirions de manière plus bienveillante et réfléchie.
      </li>

      <li>
        <span class="label">La sérénité :</span> On peut voir dans la fontaine un symbole de sérénité, de calme et de
        renouveau. L'eau qui coule en continu, représente à la fois la source de toute vie, et son cycle éternel.
      </li>

      <li>
        <span class="label">La lumière et la fleur de lys :</span> Au sommet de cette fontaine, une fleur de lys
        rayonne de lumière, portant le message qu'il faudrait <b>que la France brille à nouveau</b>, et qu'en ces temps
        troublés, elle redevienne un phare dans la nuit de ce monde en crise.
      </li>
    </ul>

    <p>
      En choisissant cette fontaine comme symbole, nous voulons évoquer un lieu de rassemblement apaisé, où les
      idées peuvent jaillir et se diffuser, comme l’eau d’une fontaine. C’est une invitation à réfléchir ensemble, à
      agir avec <b>respect pour le passé, pragmatisme pour le présent, et responsabilité pour l’avenir</b>.
    </p>
  </app-prez-block>

  <app-prez-block blockTitle="Pourquoi ce projet ?">
    <h3>Moderniser un système de vote dépassé</h3>

    <p class="small-margin">
      Déjà parce que en y réfléchissant, est ce qu'on trouve cela normal de continuer, à l'ère du tout numérique (et à
      l'aube de l'avènement de l'IA), de devoir encore se déplacer à son petit bureau de vote <b>tous les 5 ans</b> pour
      mettre un papier dans une boîte pour dire à quel homme politique on accepte de confier les clés du pays ? Tout en
      sachant qu'on n'est pas d'accord à 100% avec lui (impossible), qu'il ne fera pas la moitié de ce qu'il a promis
      (parfois même l'inverse), et qu'il n'arrivera jamais à faire les réformes qui devraient être faites depuis des
      décennies déjà ...
    </p>

    <p>
      On appelle cela la <b>démocratie représentative</b>, elle avait certainement un sens quand on ne pouvait
      pas faire autrement (impossible de demander aux gens leur avis toutes les semaines avant l'apparition des
      technologies de communication moderne), quand les élus avaient des valeurs et voulaient vraiment servir
      <b>l'intérêt général</b> (je ne parlerai pas des débats stériles dans les institutions publiques, des guerres de
      chapelle inutiles, des querelles puériles surmédiatisées, et autres scandales douteux dont nous ont glorifié les
      personnalités politiques ces derniers temps, le but étant d'élever le niveau du débat), et quand les gens y
      croyaient encore ...
    </p>

    <h3>Retrouver le dialogue</h3>

    <p class="small-margin">
      Pourtant, je ne veux pas blâmer ces représentants. Ils sont après tout comme nous tous : ils ont choisi un métier
      puis une entreprise (leur parti) en fonction de <b>leurs convictions</b>, et ont commencé à travailler
      pour ce parti. Alors quand on leur demande de discuter et négocier avec un autre parti à l'opposé de leurs
      valeurs, pour voter une décision, et bien même s'ils pourraient tomber d'accords, ils restent bien souvent campés
      sur leurs positions, que ce soit par principe, pour ne pas trahir leur parti (leur employeur) et leurs opinions,
      ou pour ne pas donner raison à "l'adversaire" ... Bref, tout cela en oubliant <b>l'importance d'un dialogue
      constructif</b>. Ca peut paraitre un peu ridicule, mais c'est humain, on est tous enfermés dans notre quotidien,
      dans <b>un système</b>, et plus la situation empire, moins on arrive à prendre du recul et de la hauteur ...
    </p>

    <p>
      Maintenant, pour sortir de cette impasse, je pense qu'il ne faut pas reproduire les mêmes erreurs, arrêter de
      vouloir avoir
      raison à tout prix et de chercher des coupables à nos problèmes, comme si cela allait les régler. Je souhaite une
      démarche plus constructive : <b>qu'on cherche les solutions, ensemble</b>. Je pense qu'il faut repenser ce système
      uniquement représentatif, car <b>il ne permet plus d'avancer</b>.
    </p>

    <h3>Réunir plutôt que diviser</h3>

    <p>
      J'irais même plus loin : le vieux schéma "droite contre gauche" est devenu un obstacle. Il nourrit la polarisation
      et empêche un dialogue constructif. Je ne veux pas que la France suive le modèle américain, où la société est
      <b>divisée en deux camps extrêmes</b> qui ne peuvent plus se parler. Je souhaite que l'on retrouve le moyen de
      dialoguer et de trouver des solutions ensemble.
    </p>

    <h3>La majorité prévaut</h3>

    <p>
      Car c'est la règle fondamentale de la démocratie : <b>la majorité l'emporte</b>. Et cela tombe bien car au fond je
      pense que la plupart des gens sont d'accord sur une majorité du sujet, et veulent la même chose : <b>vivre
      décemment, gagner sa vie honnêtement, et se sentir utile</b>. C'est aussi ça le bon sens : avoir conscience de ce
      qui est bon ou non pour nous, pour le pays, pour le monde, pour l'avenir ... Il est temps qu'on puisse en discuter
      tous ensemble, et <b>décider de où l'on veut aller</b>.
    </p>

    <h3>Le monde change vite</h3>

    <p>
      Le monde change vite, très vite. Et demain plus vite que jamais avec cette <b>nouvelle révolution qu'est l'IA</b>.
      Je ne pense pas qu'il faut en avoir peur, c'est même plutôt vertigineux tout ce que l'on pourra découvrir demain.
      A condition d'être <b>prêts et organisés</b>. Mais peut-on encore croire que nos institutions actuelles, qui n'ont
      pas su se réinventer depuis plus de 50 ans, nous permettront de suivre le rythme face à cette révolution ?
    </p>

    <h3>Internet ne dort jamais ...</h3>

    <p>
      Aujourd'hui, je pense qu'on doit pouvoir <b>faire mieux, autrement</b>, et que c'est au peuple de se réveiller, et
      d'où la solution doit émerger. Quand les médias devront rendre l'antenne, quand les députés devront rentrer chez
      eux parce qu'ils ont fini leur journée, les citoyens continueront de voter et d'échanger, et les contributeurs
      d'améliorer la plateforme, car <b>Internet ne dort jamais</b> ...
    </p>

    <p>
      Et enfin parce que mon métier consiste à proposer des solutions face aux problèmes, j’ai voulu proposer cette
      réponse. Une plateforme ouverte, continue, et capable de refléter la voix des citoyens. Est-ce la solution
      parfaite ? Peut-être pas. Mais il est temps d’essayer. Nous verrons bien ...
    </p>

    <!--    J'entends depuis quelques temps tous les témoignages autour de moi, dans les médias, qui constatent les problèmes-->
    <!--    qui freinent ce pays et qui l'ont conduit aujourd'hui à cet arrêt. J'avais commencé à réfléchir à un système de vote-->
    <!--    direct par la population pour le budget (déjà via une application bien sûr, car pour moi l'avenir du vote n'est-->
    <!--    évidemment pas dans les urnes, il faut moderniser tout cela ...), en me disant qu'après tout l'argent public c'est-->
    <!--    l'argent de tout le monde, alors-->
    <!--    pourquoi ne pourrait-on pas voter pour les sujets à mettre en priorité ? C'était une base d'idée, mais ça me-->
    <!--    semblait un peu compliqué avis sur la situation actuel est à la fois à l'opposé-->
    <!--    J'ai commencé à réfléchir à un système de votes-->
  </app-prez-block>

  <app-prez-block [blockTitle]="'Qui est derrière ce projet ?'" id="sefy">
    <div class="profile-picture"></div>

    <p>
      Salut ! Moi, c’est <b>Sefy</b> (Sef pour les intimes 😉). J’ai connu les débuts d’Internet, une époque où
      tout semblait possible. Fasciné par cette révolution et les opportunités qu’elle offrait, j’étais convaincu
      qu’elle allait faire avancer le monde dans le bon sens.
    </p>

    <h3 class="fast-forward-lol">
      <app-loader [size]="25"/>
      ⏭️
      👇

      Petite Avance Rapide (hehe) ...

      👇
      ⏭️
      <app-loader [size]="25"/>
    </h3>

    <div>
      Nous voilà 20 ans plus tard et je me réveille avec une certaine gueule de bois ... Car finalement, à part quelques
      géants américains qui ont su surfer sur la vague (créant au passage les plus grandes fortunes), force est de
      constater que les innovations pour rendre le monde meilleur sont restées, au mieux, minoritaires. Sans les citer,
      des réseaux sociaux anti-sociaux, des plateformes e-commerce anti commerce, toujours plus de contenu (pas toujours
      pertinent ni utile) en scroll infini, et des jeux pour des jeunes toujours plus blasés ... J'exagère un peu
      exprès,
      mais bref, la technologie a bien changé le monde, mais était ce bien dans le bon sens ? Je pense qu'on peut au
      moins se poser la question ...
    </div>

    <!--    <p>-->
    <!--      Ce constat en amène certains (et pourrait en amener d'autres) à se détourner complètement de ce "nouveau monde",-->
    <!--      tenant responsables "les nouvelles technologies", mais c'est faux. C'est, comme souvent, l'utilisation que l'Homme-->
    <!--      en fait qui est questionnable, pas le moyen en lui même.-->
    <!--    </p>-->

    <h3>
      Revenir au bon sens et agir ensemble
    </h3>

    <p class="small-margin">
      Je trouve qu'on a trop longtemps oublié une valeur essentielle : <b>le bon sens</b>. Créer des sites, des
      applications ou des logiciels ne devrait pas se résumer à suivre une tendance ou maximiser des profits à court
      terme. Il est temps de revenir à des solutions qui répondent <b>réellement</b> aux besoins de notre société.
    </p>

    <p>
      Alors quoi ? On continue comme ça et on attend que d'autres se décident à le faire à notre place ? Mon objectif
      aujourd’hui, est d’initier un mouvement pour remettre la technologie au service du bien commun. Et pour cela je
      veux poser les bases d’un <b>fleuron français du code et de l’artisanat du logiciel</b>, en mettant en avant le
      talent et le bon sens qui caractérisent ce pays. Il ne faut plus attendre : <b>agissons, ensemble</b>, pour un
      avenir meilleur.
    </p>

    <p class="text-center">
      Aujourd'hui donc je suis seul derrière ce projet, mais demain peut être un grand mouvement français de créateurs
      d'applications, prêts à remettre le monde dans le <b>bon sens</b> ... 😉
    </p>

    <h3>Contact</h3>

    <div class="contact">
      <p>
        Pour nous contacter, donner votre avis sur le projet, ou suivre son évolution, rejoignez le Discord :

        <button mat-raised-button (click)="openLink('discord')">
          <app-icon type="fab" icon="discord" size="25px"/>
          Discord
        </button>
      </p>

      <p>
        Pour contribuer à l'avancée technique (code) de la plateforme, ça se passe sur Github :

        <button mat-raised-button (click)="openLink('github')">
          <app-icon type="fab" icon="github" size="25px"/>
          Github
        </button>
      </p>

      <p>
        Pour donner un coup de pouce au projet, vous pouvez aussi adhérer à mon Patreon :

        <button mat-raised-button (click)="openLink('patreon')">
          <app-icon type="fab" icon="patreon" size="25px"/>
          Patreon
        </button>
      </p>
    </div>

    <h3 class="text-center">😏 A suivre ... 😎</h3>

    <!-- @TODO: discord button + "if you <3 us, support us !" + patreon link ... -->
  </app-prez-block>
</div>

<app-footer/>
