<app-hero-banner/>

<div class="blocks">

  <app-prez-block blockTitle="C'est quoi cette fontaine ? 🤔">
    Il y a évidemment plusieurs raisons derrière le choix de cette illustration, dont voici une liste non exhaustive :

    <ul>
      <li>
        <span class="label">Place publique :</span> En pensant à une place publique, un lieu qui rassemble, cette idée
        est venue assez naturellement. Et pour sa forme ronde car, comme dans la légende d'Arthur, cela permet d'être
        également répartis autour, réduisant les oppositions.
      </li>

      <li>
        <span class="label">L'Histoire :</span> Le côté historique souvent associé à ces monuments, qui permet de nous
        rappeler que notre époque n'est que la suite de nombreuses autres, et que nous devrions garder du respect pour
        ces temps passés, et ces ancêtres, en la mémoire desquels nous devrions continuer de guider le monde de la
        meilleure manière, vers la justice et la paix. Si nous pensions plus souvent à eux, à l'Histoire (sincèrement,
        pas juste comme un slogan) peut être que nous agirions de manière plus bienveillante et réfléchie.
      </li>

      <li>
        <span class="label">La sérénité :</span> On peut voir dans la fontaine un symbole de sérénité, l'eau qui en
        coule représentant à la fois la source de toute vie, et son cycle éternel.
      </li>
    </ul>
  </app-prez-block>

  <app-prez-block blockTitle="Pourquoi ce projet ?">
    <h3>Système de vote archaïque</h3>

    <p>
      Déjà parce que en y réfléchissant, est ce qu'on trouve cela normal de continuer, à l'ère du tout numérique (et à
      l'aube de l'avènement de l'IA), de devoir encore se déplacer à son petit bureau de vote tous les 5 ans pour mettre
      un papier dans une boîte pour dire à quel homme politique on accepte de confier les rênes du pays ? Tout en
      sachant qu'on n'est pas d'accord à 100% avec lui (impossible), qu'il ne fera pas la moitié de ce qu'il a promis
      (parfois même l'inverse), et qu'il n'arrivera jamais à faire les réformes qui devraient être faites depuis des
      décennies déjà ...<br>
      On appelle cela la <b>démocratie représentative</b>, elle avait certainement un sens quand on ne pouvait
      pas faire autrement (on ne pouvait pas demander aux gens leur avis toutes les semaines avant l'apparition des
      technologies de communication moderne), et quand les élus avaient des valeurs et voulaient vraiment servir
      l'intérêt général (je ne parlerai pas des débats stériles dans les institutions publiques, des guerres de chapelle
      inutiles, des querelles puériles surmédiatisées, et autres scandales douteux dont nous ont glorifié les
      personnalités politiques ces derniers temps, le but étant d'élever le niveau du débat) ...
    </p>

    <h3>Retrouver le moyen de communiquer</h3>

    <p class="small-margin">
      Pourtant, je ne veux pas blâmer ces dirigeants. Ils sont au final comme tout le monde : ont choisi une carrière,
      ont choisi une entreprise (leur parti) en fonction de leurs convictions, et ont commencé à travailler pour ce
      parti. Alors quand on leur demande de discuter et négocier avec un autre parti à l'opposé de leurs valeurs, pour
      voter une décision, et bien même s'ils pourraient tomber d'accords, ils refusent le dialogue, par principe, et
      pour ne pas trahir leur parti et leurs opinions. Ca peut paraitre un peu ridicule, mais c'est humain, on est tous
      enfermés dans notre petit quotidien, et plus la situation empire, moins on arrive à prendre du recul.
    </p>

    <p>
      C'est pourquoi je ne veux pas blâmer ces dirigeants, et pour ne pas reproduire leurs erreurs, arrêter de chercher
      des coupables à nos problèmes, comme si cela allait les régler. Je souhaite une démarche plus constructive : qu'on
      cherche les solutions, ensemble. Je pense qu'il faut qu'on sorte de ce système représentatif, car il ne permet
      plus d'avancer.

      Je vais jusqu'à remettre en question ce vieux schéma "droite VS gauche", car il n'aide pas à avoir un débat
      constructif, et je ne veux pas qu'on suive le modèle américain, et qu'on finisse avec une population divisée en 2
      extrêmes : gauche contre droite. Je souhaite que l'on retrouve le moyen de dialoguer et de trouver des solutions
      ensemble.
    </p>

    <h3>Internet ne dort jamais ...</h3>

    <p>
      Aujourd'hui, je pense qu'on doit pouvoir faire mieux, autrement, et que c'est au peuple de se réveiller, et d'où
      la solution doit émerger. Quand les médias devront rendre l'antenne, quand les députés devront rentrer chez eux
      parce qu'ils ont fini leur journée, les citoyens continueront de voter et d'échanger, et les contributeurs
      d'améliorer la plateforme, car Internet ne dort jamais ...
    </p>

    <p>
      Parce que mon métier est de proposer une solution face à un problème, j'ai envie de proposer cette solution.
      On verra bien ...
    </p>

    <!--    J'entends depuis quelques temps tous les témoignages autour de moi, dans les médias, qui constatent les problèmes-->
    <!--    qui freinent ce pays et qui l'ont conduit aujourd'hui à cet arrêt. J'avais commencé à réfléchir à un système de vote-->
    <!--    direct par la population pour le budget (déjà via une application bien sûr, car pour moi l'avenir du vote n'est-->
    <!--    évidemment pas dans les urnes, il faut moderniser tout cela ...), en me disant qu'après tout l'argent public c'est-->
    <!--    l'argent de tout le monde, alors-->
    <!--    pourquoi ne pourrait-on pas voter pour les sujets à mettre en priorité ? C'était une base d'idée, mais ça me-->
    <!--    semblait un peu compliqué avis sur la situation actuel est à la fois à l'opposé-->
    <!--    J'ai commencé à réfléchir à un système de votes-->
  </app-prez-block>

  <app-prez-block [blockTitle]="'Qui est derrière ce projet ?'" id="sefy">
    <div class="profile-picture"></div>

    <p>
      Salut ! Moi, c’est <b>Sefy</b> (ou Sef pour les intimes 😉). J’ai grandi avec les débuts d’Internet, une époque où
      tout semblait possible. Fasciné par cette révolution et les opportunités qu’elle offrait, j’étais convaincu
      qu’elle allait faire avancer le monde dans le bon sens.
    </p>

    <h3 class="fast-forward-lol">
      <app-loader [size]="25"/>
      ⏭️
      👇

      Petite Avance Rapide, 20 ans plus tard ...

      👇
      ⏭️
      <app-loader [size]="25"/>
    </h3>

    <div>
      Aujourd’hui, je me réveille avec une certaine gueule de bois numérique. Car finalement, à part quelques géants
      américains qui ont su surfer sur la vague (créant au passage les plus grandes fortunes), force est de constater
      que les innovations pour rendre le monde meilleur sont restées, au mieux, marginales.

      <ul>
        <li>
          <span class="label">Des réseaux sociaux anti-sociaux,</span> qui divisent parfois plus qu’ils ne rassemblent.
        </li>

        <li>
          <span class="label">Des plateformes e-commerce anti-commerce,</span> qui écrasent les petits acteurs.
        </li>

        <li>
          <span class="label">Toujours plus de contenu,</span> souvent loin d’être utile ou pertinent, en scroll infini.
        </li>
        <li>
          <span class="label">Des jeux toujours plus sophistiqués,</span> mais qui laissent les jeunes désabusés.
        </li>
      </ul>

      J'exagère un peu exprès, mais bref, la technologie a bien changé le monde, mais était ce bien dans le bon sens ?
      Je pense qu'on peut au moins se poser la question ...
    </div>

    <!--    <p>-->
    <!--      Ce constat en amène certains (et pourrait en amener d'autres) à se détourner complètement de ce "nouveau monde",-->
    <!--      tenant responsables "les nouvelles technologies", mais c'est faux. C'est, comme souvent, l'utilisation que l'Homme-->
    <!--      en fait qui est questionnable, pas le moyen en lui même.-->
    <!--    </p>-->

    <h3>
      Revenir au bon sens et agir ensemble
    </h3>

    <p class="small-margin">
      Pour moi, on a trop oublié une valeur essentielle : <b>le bon sens</b>. Créer des sites, des applications ou des
      logiciels ne devrait pas se résumer à suivre une tendance ou maximiser des profits à court terme. Il est temps de
      revenir à des solutions qui répondent <b>réellement</b> aux défis de notre société.
    </p>

    <p class="small-margin">
      Alors quoi ? On continue comme ça, à attendre que d’autres prennent l’initiative à notre place ?
      Mon objectif aujourd’hui, avec <b>Democracia Project</b> entre autre, est d’initier un mouvement pour remettre la
      technologie au service du bien commun.
    </p>

    <p class="small-margin">
      Je veux poser les bases d’un <b>fleuron français du code et de l’artisanat du logiciel</b>, en mettant en avant le
      talent et le bon sens qui caractérisent ce pays. Il ne faut plus attendre : <b>agissons, ensemble</b>, pour un
      avenir meilleur.
    </p>

    N'hésitez pas à rejoindre le Discord du projet pour donner votre avis, suivre son évolution, ou même le rejoindre.
  </app-prez-block>
</div>

<app-footer/>
