<app-hero-banner imageLink="/"/>

<div class="blocks">

  <app-prez-block blockTitle="C'est quoi cette fontaine ? 🤔">
    Il y a évidemment plusieurs raisons derrière le choix de cette illustration, dont voici une liste non exhaustive :

    <ul>
      <li>
        <span class="label">Place publique :</span> En pensant à une place publique, un lieu qui peut <b>rassembler</b>,
        cette idée est venue assez naturellement. Et pour sa forme ronde car, comme dans la légende du Roi Arthur, cela
        permet d'être équitablement répartis autour, à distance égale du centre, réduisant les oppositions.
      </li>

      <li>
        <span class="label">L'Histoire :</span> Le côté historique souvent associé à ces monuments, qui permet de nous
        rappeler que notre époque n'est que la suite de nombreuses autres, et que nous devrions garder du respect pour
        ces temps passés, et ces ancêtres, en la mémoire desquels nous devrions continuer de guider le monde de la
        meilleure manière, vers la <b>justice et la paix</b>. Si nous pensions plus souvent à eux, à l'Histoire
        (sincèrement, pas juste comme un slogan) peut être que nous agirions de manière plus bienveillante et réfléchie.
      </li>

      <li>
        <span class="label">La sérénité :</span> Une fontaine, avec son eau qui coule en continu, est une image de calme
        et de renouveau. L'eau qui coule en continu est à la fois source de toute vie, et l'image de son cycle éternel.
      </li>

      <li>
        <span class="label">La lumière et la fleur de lys :</span> Au sommet de cette fontaine, une fleur de lys
        rayonne de lumière, portant le message qu'il faudrait <b>que la France brille à nouveau</b>, et qu'en ces temps
        troublés, elle redevienne un phare dans la nuit de ce monde en crise.
      </li>
    </ul>

    <p>
      En choisissant cette fontaine comme symbole, <b>Democracia</b> se veut un lieu de rassemblement apaisé, où les
      idées
      peuvent jaillir et se diffuser, comme l’eau d’une fontaine. C’est une invitation à réfléchir ensemble, à agir avec
      <b>respect pour le passé, pragmatisme pour le présent, et responsabilité pour l’avenir</b>.
    </p>
  </app-prez-block>

  <app-prez-block blockTitle="Pourquoi ce projet ?">
    <h3>Un système de vote archaïque</h3>

    <p class="small-margin">
      Déjà parce que en y réfléchissant, est ce qu'on trouve cela normal de continuer, à l'ère du tout numérique (et à
      l'aube de l'avènement de l'IA), de devoir encore se déplacer à son petit bureau de vote tous les 5 ans pour mettre
      un papier dans une boîte pour dire à quel homme politique on accepte de confier les clés du pays ? Tout en
      sachant qu'on n'est pas d'accord à 100% avec lui (impossible), qu'il ne fera pas la moitié de ce qu'il a promis
      (parfois même l'inverse), et qu'il n'arrivera jamais à faire les réformes qui devraient être faites depuis des
      décennies déjà ...
    </p>

    <p>
      On appelle cela la <b>démocratie représentative</b>, elle avait certainement un sens quand on ne pouvait
      pas faire autrement (on ne pouvait pas demander aux gens leur avis toutes les semaines avant l'apparition des
      technologies de communication moderne), et quand les élus avaient des valeurs et voulaient vraiment servir
      <b>l'intérêt général</b> (je ne parlerai pas des débats stériles dans les institutions publiques, des guerres de
      chapelle inutiles, des querelles puériles surmédiatisées, et autres scandales douteux dont nous ont glorifié les
      personnalités politiques ces derniers temps, le but étant d'élever le niveau du débat) ...
    </p>

    <h3>Retrouver le dialogue</h3>

    <p class="small-margin">
      Pourtant, je ne veux pas blâmer ces représentants. Ils sont au final comme tout le monde : ils ont choisi une
      carrière, ont choisi une entreprise (leur parti) en fonction de <b>leurs convictions</b>, et ont commencé à
      travailler pour ce parti. Alors quand on leur demande de discuter et négocier avec un autre parti à l'opposé de
      leurs valeurs, pour voter une décision, et bien même s'ils pourraient tomber d'accords, ils refusent le dialogue,
      par principe, et pour ne pas trahir leur parti (leur employer) et leurs opinions. Ca peut paraitre un peu
      ridicule, mais c'est humain, on est tous enfermés dans notre petit quotidien, et plus la situation empire, moins
      on arrive à prendre du recul.
    </p>

    <p>
      Maintenant, pour sortir de cette impasse, il ne faut pas reproduire les mêmes erreurs, arrêter de chercher des
      coupables à nos problèmes, comme si cela allait les régler. Je souhaite une démarche plus constructive : qu'on
      cherche les solutions, ensemble. Je pense qu'il faut qu'on sorte ce système uniquement représentatif, car <b>il ne
      permet plus d'avancer</b>.
    </p>

    <h3>Réunir plutôt que diviser</h3>

    <p class="small-margin">
      Je vais même plus loin : le vieux schéma "droite contre gauche" est devenu un obstacle. Il nourrit la polarisation
      et empêche un dialogue constructif. Je ne veux pas que la France suive le modèle américain, où la société est
      <b>divisée en deux camps extrêmes</b> qui ne peuvent plus se parler. Je souhaite que l'on retrouve le moyen de
      dialoguer et de trouver des solutions ensemble.
    </p>

    <p>
      Car au fond je pense que la plupart des gens sont d'accord sur une majorité du sujet, et veulent la même chose :
      <b>vivre décemment, gagner sa vie honnêtement, et se sentir utile</b>. C'est ça le bon sens : avoir conscience de
      ce qui est bon ou non pour nous, pour le pays, pour le monde, pour l'avenir ... Il est temps qu'on puisse en
      discuter tous ensemble, et décider de où l'on veut aller.
    </p>

    <h3>Le monde change vite</h3>

    <p>
      Le monde change vite, très vite. Et demain plus vite que jamais avec cette nouvelle révolution qu'est l'IA. Peut
      on encore croire que nos institutions actuelles, qui n'ont pas su se réinventer depuis plus de 50 ans, nous
      permettront de suivre le rythme face à cette révolution ?
    </p>

    <h3>Internet ne dort jamais ...</h3>

    <p>
      Aujourd'hui, je pense qu'on doit pouvoir faire mieux, autrement, et que c'est au peuple de se réveiller, et d'où
      la solution doit émerger. Quand les médias devront rendre l'antenne, quand les députés devront rentrer chez eux
      parce qu'ils ont fini leur journée, les citoyens continueront de voter et d'échanger, et les contributeurs
      d'améliorer la plateforme, car Internet ne dort jamais ...
    </p>

    <p>
      Et enfin parce que mon métier consiste à proposer des solutions face aux problèmes, j’ai voulu proposer cette
      réponse. Une plateforme ouverte, continue, et capable de refléter la voix des citoyens. Est-ce la solution
      parfaite ? Peut-être pas. Mais il est temps d’essayer. Nous verrons bien ...
    </p>

    <!--    J'entends depuis quelques temps tous les témoignages autour de moi, dans les médias, qui constatent les problèmes-->
    <!--    qui freinent ce pays et qui l'ont conduit aujourd'hui à cet arrêt. J'avais commencé à réfléchir à un système de vote-->
    <!--    direct par la population pour le budget (déjà via une application bien sûr, car pour moi l'avenir du vote n'est-->
    <!--    évidemment pas dans les urnes, il faut moderniser tout cela ...), en me disant qu'après tout l'argent public c'est-->
    <!--    l'argent de tout le monde, alors-->
    <!--    pourquoi ne pourrait-on pas voter pour les sujets à mettre en priorité ? C'était une base d'idée, mais ça me-->
    <!--    semblait un peu compliqué avis sur la situation actuel est à la fois à l'opposé-->
    <!--    J'ai commencé à réfléchir à un système de votes-->
  </app-prez-block>

  <app-prez-block [blockTitle]="'Qui est derrière ce projet ?'" id="sefy">
    <div class="profile-picture"></div>

    <p>
      Salut ! Moi, c’est <b>Sefy</b> (ou Sef pour les intimes 😉). J’ai connu les débuts d’Internet, une époque où
      tout semblait possible. Fasciné par cette révolution et les opportunités qu’elle offrait, j’étais convaincu
      qu’elle allait faire avancer le monde dans le bon sens.
    </p>

    <h3 class="fast-forward-lol">
      <app-loader [size]="25"/>
      ⏭️
      👇

      Petite Avance Rapide (hehe) ...

      👇
      ⏭️
      <app-loader [size]="25"/>
    </h3>

    <div>
      Nous voilà 20 ans plus tard et je me réveille avec une certaine gueule de bois ... Car finalement, à part quelques
      géants américains qui ont su surfer sur la vague (créant au passage les plus grandes fortunes), force est de
      constater que les innovations pour rendre le monde meilleur sont restées, au mieux, minoritaires. Sans les citer,
      des réseaux sociaux anti-sociaux, des plateformes e-commerce anti commerce, toujours plus de contenu (pas toujours
      pertinent ni utile) en scroll infini, et des jeux pour des jeunes toujours plus blasés ... J'exagère un peu
      exprès,
      mais bref, la technologie a bien changé le monde, mais était ce bien dans le bon sens ? Je pense qu'on peut au
      moins se poser la question ...
    </div>

    <!--    <p>-->
    <!--      Ce constat en amène certains (et pourrait en amener d'autres) à se détourner complètement de ce "nouveau monde",-->
    <!--      tenant responsables "les nouvelles technologies", mais c'est faux. C'est, comme souvent, l'utilisation que l'Homme-->
    <!--      en fait qui est questionnable, pas le moyen en lui même.-->
    <!--    </p>-->

    <h3>
      Revenir au bon sens et agir ensemble
    </h3>

    <p class="small-margin">
      Je trouve qu'on a trop oublié une valeur essentielle : <b>le bon sens</b>. Créer des sites, des applications ou
      des logiciels ne devrait pas se résumer à suivre une tendance ou maximiser des profits à court terme. Il est temps
      de revenir à des solutions qui répondent <b>réellement</b> aux défis de notre société.
    </p>

    <p class="small-margin">
      Alors quoi ? On continue comme ça et on attend que d'autres se décident à le faire à notre place ? Mon objectif
      aujourd’hui, est d’initier un mouvement pour remettre la technologie au service du bien commun.
    </p>

    <p>
      Je veux poser les bases d’un <b>fleuron français du code et de l’artisanat du logiciel</b>, en mettant en avant le
      talent et le bon sens qui caractérisent ce pays. Il ne faut plus attendre : <b>agissons, ensemble</b>, pour un
      avenir meilleur.
    </p>

    N'hésitez pas à nous rejoindre sur Discord pour donner votre avis sur le projet, suivre son évolution, ou même y
    contribuer.
  </app-prez-block>
</div>

<app-footer/>
