.profile-picture {
  border-radius: 50%;
  overflow: hidden;
  margin: 2em auto;

  width: 300px;
  height: 300px;

  background: url('https://avatars.githubusercontent.com/u/2862295?v=4') center top;
}

.fast-forward-lol {
  display: flex;
  place-items: center;
  place-content: center;
  gap: .5rem;
  font-weight: 500;
  font-size: 22px;
}
