:host {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  min-height: 25vh;
  padding: 3em;
  gap: .25em;

  img {
    width: 300px;
  }

  .page-title {
    margin-bottom: 0;

    // background: linear-gradient(90deg, purple, light-dark(black, white), indigo);
    // background-clip: text;
    // color: transparent;

    // box-shadow: 0 0 10px purple, 0 0 10px indigo;
  }
}
