:host {
  display: block;
  max-width: min(1500px, 95%);
  margin: auto;

  font-family: ui-sans-serif, system-ui, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;

  app-vote-list-header {
    margin: 1em auto;
  }

  .votes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem 1.5rem;
  }
}
