:host {
  display: block;
  max-width: min(1500px, 95%);
  margin: auto;

  font-family: ui-sans-serif, system-ui, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;

  app-vote-list-header {
    margin: 1em auto;
  }

  .votes-container {
    display: flex;
    place-items: stretch;
    gap: 1rem 2rem;
    flex-wrap: wrap;

    ::ng-deep app-card {
      flex: 1;
      min-width: 250px;
    }
  }
}
