<app-dialog-header title="Connexion" icon="account_circle" />

<div style="position: relative">
  <app-loader *ngIf="loading" [overlay]="true"/>

  <mat-dialog-content style="max-height: 85vh">

    <app-dialog-banner/>

    <app-flash-message type="warn">
      Pour l'instant seule la connexion Google est proposée, pour éviter de stocker des mots de passe, et l'application
      étant actuellement en phase d'<b>Alpha</b> (développement initial), les données seront régulièrement
      réinitialisées.
    </app-flash-message>

    <hr>

    <form (submit)="submit()" [formGroup]="form" style="margin-bottom: .75em">
      <ul *ngIf="errors?.length" class="form-errors">
        <li *ngFor="let err of errors">{{ err }}</li>
      </ul>

      <div class="google-button-container" #googleButtonContainer></div>

      <!-- Kind of clear to avoid scroll after GAuth is included .. weird -->
      <div></div>

      <!-- lol just to get submit mechanism ... -->
      <button style="display: none"></button>
    </form>
  </mat-dialog-content>
</div>
