mat-dialog-content {
  margin-top: 10px;
  padding-top: 5px !important;

  hr {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    margin: 2em;
  }
}

app-flash-message {
  margin: 1.5em auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 450px;
}

.form-errors {
  background: var(--secondary-light-color);
  color: var(--secondary-light-contrast);

  padding: 10px;
  margin: 0 0 5px;
  list-style: none;
  border-radius: 7px;
}

.google-button-container {
  margin: auto;
}
