<app-dialog-header title="Connexion"/>

<div style="position: relative">
  <app-loader *ngIf="loading" [overlay]="true" />

  <mat-dialog-content>
    <form (submit)="submit()" [formGroup]="form">
      <ul *ngIf="errors?.length" class="form-errors">
        <li *ngFor="let err of errors">{{ err }}</li>
      </ul>

      <!-- Connexion Google only pour l'instant, pas envie de stocker des mots de paaaaaaasse -->

      <div style="margin: auto" #googleButtonContainer></div>

      <!-- Kind of clear to avoid scroll after GAuth is included .. weird -->
      <div></div>

      <!-- lol just to get submit mechanism ... -->
      <button style="display: none"></button>
    </form>
  </mat-dialog-content>

<!--  <mat-dialog-actions align="end">-->
<!--    <button mat-raised-button color="primary" (click)="submit()">-->
<!--      OK-->
<!--    </button>-->
<!--  </mat-dialog-actions>-->
</div>
