:host {
  .label {
    font-size: .85em;
    line-height: 1;
    color: var(--primary-base-trans-75);
    margin-bottom: .75em;
    display: block;
  }

  .list-container {
    display: flex;
    place-items: center;
    gap: .3em .5em;
    flex-wrap: wrap;
  }
}
