<footer>
  <mat-toolbar>
    <span>Version 0.0.2 (last built on 2024-12-06)</span> <!-- - Last built on {{ lastBuildDate|date:'medium' }}</span> -->

    <a routerLink="/about">Made with 💙🤍❤️ by Sefy</a>

    <div class="links">
      <a href="https://discord.gg/FrUZW4kQu6" target="_blank">
        <app-icon type="fab" icon="discord"/>
      </a>

      <a href="https://github.com/Sefy/democracia" target="_blank">
        <app-icon type="fab" icon="github"/>
      </a>
    </div>
  </mat-toolbar>
</footer>
