@use '@angular/material' as mat;
@use 'util';

:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height));

  .home-rooms-container {
    max-width: min(100%, 1600px);
    min-width: 50vw;
    margin: auto;
    padding: 0 3% 1em;
  }

  app-room-list {
    margin: 2em auto;
  }

  app-loader {
    margin: 5em auto;
  }
}
