@use '@angular/material' as mat;
@use 'util';

:host {
  .home-rooms-container {
    max-width: min(100%, 1600px);
    min-width: 50vw;
    margin: auto;
    padding: 0 3% 1em;
  }

  app-room-list {
    margin: 2em auto;
  }

  .block {
    position: relative;
    padding: 3rem 0;
    display: flex;
    place-items: center;
    place-content: center;

    // Ca me plait paaaaaaaaaas
    // => sûrement beaucoup mieux avec un fond global sur tout le bloc parent
    &.blue .bg-overlay {
      background: linear-gradient(120deg, transparent, var(--primary-light));
    }

    &.red .bg-overlay {
      background: linear-gradient(120deg, transparent, var(--secondary-light));
    }

    .bg-overlay {
      z-index: -10;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: .4;
      filter: blur(5px);
    }

    // utile ? ou voir pour utiliser du padding .. ?
    // => A mon avis le padding offre moins de possibilité
    .block-content {
      max-width: min(1200px, 75%);
      margin: auto;

      @include util.respond-to('md') {
        max-width: 90%;
      }
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      letter-spacing: -0.025rem;
      font-weight: 700;
      text-align: center;
      line-height: 1.25;

      @include util.respond-to(md) {
        font-size: 2rem;
      }

      /* font-family: ui-sans-serif; */
      /* font-family: Helvetica; */
    }

    p, div {
      font-family: ui-sans-serif, system-ui, sans-serif;
      font-size: 1.2rem;
      line-height: 1.75;
      text-align: justify;

      b {
        font-weight: 500;
      }

      ul {
        margin: 1em 0;
        padding-left: 1.75rem;
        list-style: disc;

        li {
          padding-left: .75rem;
          line-height: 1.75;

          .label {
            font-weight: 500;
          }
        }
      }
    }

    &.last {
      overflow: hidden;
      max-width: min(75%, 1000px);
      border-radius: 2em;
      margin: 3em auto 6em;

      @include util.respond-to(lg) {
        max-width: 80%;
      }

      .bg-overlay {
        opacity: .1;

        @media (prefers-color-scheme: dark) {
          opacity: .4;
        }

        background: var(--bg-flag-linear);
      }

      .block-content {
        max-width: unset;
        padding: 1em 2em;
      }

      p {
        text-align: center;
      }

      .button-group {
        margin: 1.5rem auto 0;
        display: flex;
        place-items: center;
        place-content: center;
        gap: 1em;

        button {
          ::ng-deep .mdc-button__label {
            display: flex;
            place-items: center;
            gap: .5rem;
          }
        }
      }
    }
  }
}
