<app-hero-banner imageLink="/about"/>

<div class="home-rooms-container">
  <app-room-list-header (createRoom)="createRoom()" (searchChange)="searchSubject.next($event)">
    <mat-slide-toggle (change)="toggleAutoRefresh($event.checked)" [checked]="true">Refresh auto</mat-slide-toggle>
  </app-room-list-header>
  <app-room-list *ngIf="rooms; else loader" [rooms]="rooms" [options]="{grid: true}" (needUpdate)="loadData().subscribe()" />
</div>

<div class="landing">

  <div class="bg-overlay main blue"></div>
  <div class="bg-overlay main red"></div>

  <div class="block">
    <div class="block-content">
      <h2>Bienvenue sur Democracia Project</h2>

      <p>
        Dans une société où les décisions politiques semblent souvent éloignées des préoccupations réelles des citoyens,
        Democracia Project offre une nouvelle façon de faire entendre votre voix. Nous croyons que la démocratie ne doit
        pas se limiter à un vote toutes les X années, mais qu'elle doit être un processus continu, accessible et
        participatif. Grâce à notre plateforme, chaque citoyen peut débattre, proposer et voter sur les sujets qui
        orientent l'avenir de notre société.
      </p>
    </div>
  </div>

  <div class="block">
    <div class="block-content">
      <h2>Redonner la parole aux citoyens</h2>

      <p>
        Le système actuel montre ses limites : abstention en hausse, défiance généralisée envers les représentants
        politiques, et sentiment croissant que les décisions sont déconnectées des réalités. Pourtant, au cœur de la
        démocratie, il y a une règle fondamentale : <b>la majorité doit pouvoir s’exprimer et orienter les choix de la
        société.</b>
        <br><br>
        Aujourd’hui, nous avons une opportunité unique. À l’ère du numérique, nous disposons enfin des outils
        nécessaires pour rendre la démocratie plus vivante et participative. <b>Democracia Project</b> ambitionne de
        redonner un rôle central à chaque citoyen, non pas en critiquant, mais en construisant une alternative où chacun
        peut contribuer activement à l’avenir.
      </p>
    </div>
  </div>

  <div class="block">
    <div class="block-content">
      <h2>Un espace de débat ouvert et structuré</h2>

      <div>
        Democracia Project, c’est une place publique numérique où chacun peut s’exprimer librement, dans le respect des
        autres.

        <ul>
          <li>
            <span class="label">Salons thématiques anonymes :</span> Rejoignez des débats organisés par sujets
            (écologie, santé, éducation, finances…) tout en préservant votre anonymat pour garantir des échanges sans
            biais ni pression sociale.
          </li>

          <li>
            <span class="label">Outils innovants :</span> Une IA modère les échanges pour garantir un environnement
            constructif et fournit des résumés automatiques pour suivre les discussions en cours.
          </li>

          <li>
            <span class="label">Participation structurée :</span> La parole est donnée de manière équitable, et les
            idées les plus pertinentes, votées par les utilisateurs, sont mises en avant.
          </li>
        </ul>

        Vous arrivez en cours de route ? Aucun problème : nous vous proposons un résumé des points clés pour que vous
        puissiez contribuer immédiatement.
      </div>
    </div>
  </div>

  <div class="block">
    <div class="block-content">
      <h2>Des décisions prises ensemble</h2>

      <div>
        Les débats les plus actifs mènent à des consultations citoyennes sous forme de votes clairs et transparents. Ces
        votes permettent :

        <ul>
          <li>
            <span class="label">Une légitimité renforcée :</span> Les décisions, validées par une majorité citoyenne,
            gagnent en crédibilité.
          </li>

          <li>
            <span class="label">Un suivi démocratique :</span> Chaque opinion exprimée contribue à un véritable tableau
            des aspirations du peuple, sujet par sujet.
          </li>

          <li>
            <span class="label">Une continuité dans l’action :</span> Les consultations régulières permettent d’agir en
            fonction des priorités identifiées par tous.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="block-content">
      <h2>Une nouvelle ère démocratique</h2>

      <div>
        <b>Democracia Project</b>, c’est plus qu’une plateforme : c’est une invitation à réinventer notre démocratie.

        <ul>
          <li>
            <span class="label">Une démocratie continue,</span> où les citoyens sont acteurs, pas seulement spectateurs.
          </li>

          <li>
            <span class="label">Une solution collaborative,</span> où la technologie sert le bien commun.
          </li>

          <li>
            <span class="label">Une démarche positive,</span> où chaque voix compte pour construire des solutions
            partagées.
          </li>
        </ul>

        Ensemble, nous avons une opportunité unique de redéfinir les règles du jeu démocratique et de faire briller les
        valeurs fondamentales qui unissent notre pays.
      </div>
    </div>
  </div>

  <div class="block">
    <div class="block-content">
      <h2>Un message d’espoir</h2>

      <p>
        La France traverse une période difficile, mais c’est souvent dans l’adversité que les solutions les plus
        innovantes émergent. Notre pays est riche de talents, d’idées, et d’un profond attachement à la démocratie.
        <b>Il est temps de cesser d’attendre que les solutions viennent d’en haut</b>. Avec Democracia Project, chacun
        peut jouer un rôle dans la transformation de notre société.

        Ensemble, reprenons l’initiative pour construire un futur à l’image de nos aspirations. Parce qu’il n’est
        jamais trop tard pour agir, et que tout commence par un premier pas.
      </p>
    </div>
  </div>

  <div class="block">
    <div class="block-content">
      <h2>Pour les citoyens, par les citoyens</h2>

      <p>
        Democracia Project est une plateforme ouverte et collaborative. Les sources du projet seront accessibles à
        tous, pour garantir une transparence totale et inviter à la contribution collective. Ce projet est conçu pour
        être le reflet des valeurs fondamentales de notre pays&nbsp;: <b>respect, débat, et recherche de solutions
        communes.</b>
      </p>
    </div>
  </div>

  <div class="block last">
    <div class="bg-overlay"></div>
    <div class="block-content">
      <h2>Participez dès aujourd’hui</h2>

      <!--      <p>-->
      <!--        L’avenir de la démocratie commence avec vous. Explorez les débats, exprimez vos idées, votez sur des solutions-->
      <!--        concrètes, et contribuez à construire un monde plus juste et équitable. Democracia Project, c'est la voix de-->
      <!--        tous, pour des décisions partagées.-->
      <!--      </p>-->

      <!--      <span class="vs">VS</span>-->

      <p>
        L’avenir de la démocratie commence avec vous. Découvrez les débats, proposez vos idées, votez pour des solutions
        concrètes, et participez à une expérience citoyenne inédite. Democracia Project : la voix de tous, pour des
        décisions partagées.
      </p>

      <div class="button-group">
        <button mat-raised-button>
          <app-icon icon="chat"/>
          Voir les salles de discussion
        </button>

        <button mat-raised-button routerLink="/about">
          <app-icon icon="menu_book"/>
          En savoir plus
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex-1"></div>

<app-footer/>

<ng-template #loader>
  <app-loader [size]="80" class="center" message="Chargement ..."/>
</ng-template>
