@use '@angular/material' as mat;
@use 'util';

:host {
  display: block;
  overflow: hidden;

  --flag-line-height: max(400px, min(500px, 50vh));

  .tiles-component-container {
    max-width: min(100%, 1600px);
    min-width: 50vw;
    margin: auto;
    padding: 0 3% 1em;
  }

  app-room-list {
    margin: 2em auto;
  }

  .bg-overlay {
    z-index: -10;
    position: absolute;
    opacity: 0.4;
    filter: blur(1px);

    &.main {
      rotate: 330deg; // formerly 323 lol .. dunno which looks better -_-
      height: var(--flag-line-height);
      width: 200%;
      left: -50%;

      &.blue {
        background: linear-gradient(120deg, transparent, var(--primary-light));
        top: var(--flag-line-height);
      }

      &.red {
        background: linear-gradient(120deg, transparent, var(--secondary-light));
        top: calc(var(--flag-line-height) * 3 + 100px);
      }
    }
  }

  .landing {
    position: relative;
  }

  .block {
    position: relative;
    padding: 3rem 0;
    display: flex;
    place-items: center;
    place-content: center;

    // utile ? ou voir pour utiliser du padding .. ?
    // => A mon avis le padding offre moins de possibilité
    .block-content {
      max-width: min(1200px, 75%);
      margin: auto;

      @include util.respond-to('md') {
        max-width: 90%;
      }
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      letter-spacing: -0.025rem;
      font-weight: 700;
      text-align: center;
      line-height: 1.25;

      @include util.respond-to(md) {
        font-size: 2rem;
      }

      /* font-family: ui-sans-serif; */
      /* font-family: Helvetica; */
    }

    p, div {
      font-family: ui-sans-serif, system-ui, sans-serif;
      font-size: 1.2rem;
      line-height: 1.75;
      text-align: justify;

      b {
        font-weight: 500;
      }

      ul {
        margin: 1em 0;
        padding-left: 1.75rem;
        list-style: disc;

        li {
          padding-left: .75rem;
          line-height: 1.75;

          .label {
            font-weight: 500;
          }
        }
      }
    }

    &.last {
      overflow: hidden;
      max-width: min(75%, 1000px);
      border-radius: 2em;
      margin: 2em auto;

      @include util.respond-to(lg) {
        max-width: 90%;
      }

      .bg-overlay {
        opacity: .2;
        background: var(--bg-flag-linear);
        width: 100%;
        height: 100%;
      }

      .block-content {
        max-width: unset;
        padding: 1em 2em;
      }

      p {
        text-align: center;
      }

      .button-group {
        margin: 1.5rem auto 0;
        display: flex;
        place-items: center;
        place-content: center;
        gap: 1em;
        flex-wrap: wrap;
      }
    }
  }
}

::ng-deep body.dark-theme .block.last .bg-overlay {
  opacity: .4 !important;
}
