@use '../util';

@mixin style() {
  button {
    padding: var(--component-padding);
    border-radius: var(--component-radius);

    &:has(app-icon) .mdc-button__label,
    &:has(mat-icon) .mdc-button__label {
      display: flex;
      place-items: center;
      gap: .5rem;
      line-height: 1;
    }

    &.gradient {
      //@include util.bg-flag-linear();

      &:hover {
        box-shadow: 0 0 10px 0 var(--secondary-base);
      }
    }

    &.icon-btn {
      border-radius: 50%;
    }
  }
}
